.cardSensor {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: space-between;
  background-color: rgba(7, 49, 233, 0.5);
  > h2 {
    font-size: 30px;
    font-weight: bold;
  }
  &__item {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap: 20px;

    > div {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 40px;
      border: 3px solid #fff;
      &:hover{
        opacity: 0.4;
      }

      >p{
        font-size: 20px;
        font-weight: bold;
        color: white;
        opacity: 0.5;
      }
    }
  }
}
